<!DOCTYPE html>
<html>
<head>
  <title>TweedApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <div id="header">
      <h1><%= link_to "Tweed.r", tweeds_path %></h1>
      <%= link_to "New Tweed", new_tweed_path %>
    </div>
    <div id="main">

      <p><%= notice %></p>

      <%= yield %>

    </div>
    <div id="footer">
      <%= link_to "About", "#" %>
      <%= link_to "Help", "#" %>
      <%= link_to "Terms", "#" %>
      <%= link_to "Privacy", "#" %>
      <%= link_to "Developer", "#" %>
      <%= link_to "Jobs", "#" %>
    </div><!-- /.footer -->
  </div><!-- /.container -->


</body>
</html>
